@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

/* Ajout de la classe pour la police Baloo */
.font-baloo {
    font-family: 'Baloo 2', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
